fastapi
uvicorn[standard]
motor
python-dotenv
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
bcrypt
firebase-admin>=6.5.0
cloudinary
python-multipart
email-validator
requests
httpx
groq
supabase